<header>
  <div fxLayout="row" fxLayoutAlign="space-between left">
    <div fxLayout="row" fxLayoutGap="20px">
      <img src="/assets/img/Logo1.png" alt="Smiley face" width="224" height="80" class="responsive">

      <a routerLink="/login">
        <p>Home</p>
      </a>
      <a routerLink="/registration">
        <p>Meal Groups</p>
      </a>
      <a routerLink="/newNeighborhood">
        <p>Recipes</p>
      </a>
    </div>
  </div>
</header>



<div class="backgroundM" fxFlex>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 desc">
        <div class="row">
          <p id="descTit"> Quieres conocer gente que tenga tus mismos objetivos alimenticios?</p>
          <p id="descTx"> Únete a grupos, cumple tus metas y prepara recetas <br />  Todo a la distancia de un Click.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 but1">
            <button type="button" routerLink="/newLogin" class="btn btn-primary btn-round-lg btn-lg one">Join</button>
          </div>
          <div class="col-sm-6 but2">
            <button type="button" routerLink="/login" class="btn btn-primary btn-round-lg btn-lg">Login</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4 profile">
          <img src="/assets/img/comida.jpeg" alt="Smiley face" width=630 class="responsive">

      </div>
    </div>
  </div>
</div>

