<div style="     min-height: 100%;">
  <div class=" banner" style="background-image: url('/assets/img/trees.jpg');">


    <div class="wraper row">


      <div class="outer-circle">
        <img class="inner-circle" src="/assets/img/perfil.jpeg">
      </div>
      <div class="name"> {{resident.name}}
      </div>


    </div>


    <div class="footer ">

    </div>
  </div>



  <br>
  <br>

  <div class="row content">

    <div class="container py-5">

      <!-- For demo purpose -->


      <div class="row py-5" id="riko">

          <div class="col-lg-7 mx-auto">
            <h2 style="color: white;"> RECIPES</h2>
            <p></p>

              <div class="card shadow mb-4">
                  <div class="card-body p-5">
                      <h4 class="mb-4">Pasta con Pollo</h4>
                      <!-- Unordered list -->
                      <ul>
                          <li class="mb-2">1 Pollo</li>
                          <li class="mb-2">Pasta</li>
                          <li class="mb-2">Salsa de Tomate</li>
                          <li class="mb-2">Agua </li>
                          <li class="mb-2">Sal y Pimienta</li>
                      </ul>

                  </div>
                  <div>
                  <ol>
                    <li class="mb-2">Calentar Agua en una olla</li>
                    <li class="mb-2">Remojar la pasta</li>
                    <li class="mb-2">Desmechar el pollo y echarlo al agua</li>
                    <li class="mb-2">Esperar que el agua se evapore </li>
                    <li class="mb-2">Echarle salsa de tomate y comer</li>
                </ol>
                </div>

              </div>

              <div class="card shadow mb-4">
                <div class="card-body p-5">
                    <h4 class="mb-4">Arroz con huevo</h4>
                    <!-- Unordered list -->
                    <ul>
                        <li class="mb-2">1 Huevo</li>
                        <li class="mb-2">Arroz</li>
                        <li class="mb-2">Aceite</li>

                    </ul>

                </div>
                <div>
                <ol>
                  <li class="mb-2">Batir el huevo</li>
                  <li class="mb-2">Fritar el huevo en un sarten con aceite</li>
                  <li class="mb-2">Echar arroz en el huevo revuelto</li>
                  <li class="mb-2">Esperar a que se caliente</li>
                  <li class="mb-2">Comer</li>
              </ol>
              </div>

            </div>

            <div class="card shadow mb-4">
              <div class="card-body p-5">
                  <h4 class="mb-4">Changua</h4>
                  <!-- Unordered list -->
                  <ul>
                      <li class="mb-2">Leche</li>
                      <li class="mb-2">1 Huevo</li>
                      <li class="mb-2">Cilantro</li>
                      <li class="mb-2">Sal</li>
                      <li class="mb-2">Pan</li>
                  </ul>

              </div>
              <div>
              <ol>
                <li class="mb-2">Calentar la leche en una olla</li>
                <li class="mb-2">Echarle sal</li>
                <li class="mb-2">Echar un huevo crudo y esperar a que se cocine</li>
                <li class="mb-2">Esperar a que la leche hierva</li>
                <li class="mb-2">Echarle cilantro y comerselo con pan</li>
            </ol>
            </div>

          </div>

          <div class="card shadow mb-4">
            <div class="card-body p-5">
                <h4 class="mb-4">Sandwich con Doble jamon</h4>
                <!-- Unordered list -->
                <ul>
                    <li class="mb-2">2 jamones</li>
                    <li class="mb-2">1 tajada de queso</li>
                    <li class="mb-2">dos tajadas de pan</li>
                    <li class="mb-2">Juguito de naranja (opcional)</li>
                </ul>

            </div>
            <div>
            <ol>
              <li class="mb-2">Poner un jamón en cada tajada de pan</li>
              <li class="mb-2">Poner el queso en la mitad de ambos jamones</li>
              <li class="mb-2">Juntar ambas caras del sandwich</li>
              <li class="mb-2">Calentar (opcional)</li>
              <li class="mb-2">Comerselo con juguito</li>
          </ol>
          </div>

        </div>



          </div>
      </div>
  </div>







  </div>
</div>
